html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider {
  height: 530px;
  width: 940px; 
  overflow: hidden;
  position: relative;
}

.slides {
  display:flex;
  height: 100%;
  position: absolute;
  transition: transform 0.5s ease;
}

.slides.s1 {
  transform: translateX(-940px);
}
.slides.s2 {
  transform: translateX(-1880px);
}

.slide {
  width: 100%;
  height: 100%;
}

img {
  width: 940px;
}

button {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  background-color: gray;
  opacity: 0.4;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.6;
}

#nextBtn {
  right: 0;
  left: unset;
}

.dots {
  display: flex;
  margin-top: 2rem;
  gap: 10px;
  cursor: pointer;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: gray;
  cursor: pointer;
}

.dot.active {
  background-color: black;
}
